root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
quote_type = single
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2
